<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles/global.css">
    <link rel="stylesheet" href="../static/styles/home.css">


</head>
<body class="home-page">

    <div class="sidebar">
        <div class="logo-section">
            <img src="../static/assets/images/GirraExc/company_logo.png" class="sidebar-logo">
            <!-- <h2 class="central-title">CENTRAL</h2> -->
        </div>

        <div class="menu">
            <p class="menu-title">Student Portal</p>
            <a class="active">Home</a>
            <a>Student ID</a>
            <a>Resources</a>
            <a>Help Centre</a>

            <p class="menu-title">Girra Info</p>
            <a>Announcements</a>
            <a>Girra News</a>
            <a>Prefects</a>
            <a>Humans of Girra</a>
        </div>
    </div>

    <div class="main">
        <div class="welcome-banner">
            <h1>Welcome Sountharikan</h1>
            <p>CENTRAL Girra Student Portal</p>
            <p>It's currently Term 4 Week 2A.</p>
        </div>

        <div class="feature-grid">
            <div class="feature-card">
                <h3>Student ID</h3>
            </div>

            <div class="feature-card">
                <h3>Resources</h3>
            </div>

            <div class="feature-card">
                <h3>Help Centre</h3>
            </div>
        </div>

        <div class="announcement-card">
            <h3>Announcements</h3>
            <p>Currently there are no Announcements Available</p>
        </div>
    </div>
</body>

<footer class="central-footer">
    <div class="footer-section footer-brand">
        <img src="../static/assets/images/GirraExc/company_logo.png" class="footer-logo">
        <p>© 2025 CENTRAL</p>
    </div>

    <div class="footer-section">
        <h4>Pages</h4>
        <a href="#">Home</a>
        <a href="#">Student ID</a>
        <a href="#">Resources</a>
        <a href="#">Help Centre</a>
    </div>

    <div class="footer-section">
        <h4>Girra Info</h4>
        <a href="#">Announcements</a>
        <a href="#">Girra News</a>
        <a href="#">Prefects</a>
        <a href="#">Humans of Girra</a>
    </div>

    <div class="footer-section">
        <h4>Contact</h4>
        <a href="#">info@girraween.nsw.edu.au</a>
        <a href="#">(02) 9636 7293</a>
        <a href="#">Official Website</a>
    </div>
</footer>

</html>
