body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/images/GirraExc/Girraween_Drone.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #ffde59;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    width: 330px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    background: #545454;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background: black;
}

.logo {
    width: 130px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.bottom-logo {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    z-index: 10;
}

.login-page {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}